# Framework web dan ekstensi
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF

# Otentikasi Google (OAuth)
Authlib

# Server produksi
gunicorn

# API Google Generative AI
google-generativeai

# Validasi email untuk form
email_validator

# API AI Cerebras
cerebras-cloud-sdk
